# vim: ft=yaml.ansible

- name: Install KeePassXC
  become: true
  ansible.builtin.package:
    name: keepassxc
    state: present
  tags: install

- name: Ensure configuration directory exists
  ansible.builtin.file:
    path: "{{ keepassxc_config_file | dirname }}"
    state: directory
    owner: "{{ user_id }}"
    group: "{{ user_gid }}"
    mode: "0750"

- name: Configure KeePassXC
  module_defaults:
    community.general.ini_file:
      path: "{{ keepassxc_config_file }}"
      state: present
      no_extra_spaces: true
      exclusive: true
      backup: true
      owner: "{{ user_id }}"
      group: "{{ user_gid }}"
      mode: "0640"
  block:
    - name: Set ConfigVersion
      community.general.ini_file:
        section: General
        option: ConfigVersion
        value: 2

    - name: Configure General section
      community.general.ini_file:
        section: General
        option: "{{ item.key }}"
        value: "{{ item.value }}"
      with_dict: "{{ keepassxc_config['General'] }}"

    - name: Configure GUI section
      community.general.ini_file:
        section: GUI
        option: "{{ item.key }}"
        value: "{{ item.value }}"
      with_dict: "{{ keepassxc_config['GUI'] }}"

    - name: Configure Browser section
      community.general.ini_file:
        section: Browser
        option: "{{ item.key }}"
        value: "{{ item.value }}"
      with_dict: "{{ keepassxc_config['Browser'] }}"

    - name: Configure PasswordGenerator section
      community.general.ini_file:
        section: PasswordGenerator
        option: "{{ item.key }}"
        value: "{{ item.value }}"
      with_dict: "{{ keepassxc_config['PasswordGenerator'] }}"

    - name: Configure Security section
      community.general.ini_file:
        section: Security
        option: "{{ item.key }}"
        value: "{{ item.value }}"
      with_dict: "{{ keepassxc_config['Security'] }}"

- name: Ensure autostart directory exists
  ansible.builtin.file:
    path: "{{ autostart_dir }}"
    state: directory
    owner: "{{ user_id }}"
    group: "{{ user_gid }}"
    mode: "0755"
  tags: autostart

- name: Create KeePassXC autostart entry
  ansible.builtin.copy:
    src: org.keepassxc.KeePassXC.desktop
    dest: "{{ autostart_dir }}"
    owner: "{{ user_id }}"
    group: "{{ user_gid }}"
    mode: "0644"
  tags: autostart
