# SSH #########################
/.ssh/*.key*
/.ssh/known_hosts
/.ssh/authorized_keys

# Vim #########################
/.vim/.viminf*
/.vim/.netrwhist
/.vim/.NERDTreeBookmarks
/.vim/backup/
/.vim/bundle/
/.vim/sessions/
/.vim/tmp/
/.vim/undo/
/.vim/view/
