# SSH
/.ssh/*.key
/.ssh/known_hosts
/.ssh/authorized_keys

# Various vim files
/.vim/bundle/
/.vim/.backup/
/.vim/.view/
/.vim/.sessions/
/.vim/.undo/
/.vim/.tmp/
/.vim/.viminfo
/.vim/.NERDTreeBookmarks

