# vim: ft=yaml.ansible

- name: Install pistol for lf
  tags: install
  block:
    - name: Ensure local directories exist
      become: "{{ local_prefix.startswith('/usr') }}"
      ansible.builtin.file:
        path: "{{ (local_prefix, item) | path_join }}"
        state: directory
        recurse: true
      loop:
        - bin
        - share/man/man1

    - name: Get latest pistol release
      ansible.builtin.uri:
        url: "https://api.github.com/repos/{{ pistol_repo }}/releases/latest"
        method: GET
      register: pistol_release

    - name: Download and install latest pistol release
      become: "{{ local_prefix.startswith('/usr') }}"
      ansible.builtin.get_url:
        url: "{{ item.src.browser_download_url }}"
        dest: "{{ (local_prefix, item.dest) | path_join }}"
        mode: "{{ item.mode }}"
      loop:
        - src: "{{ pistol_release.json.assets | selectattr('name', 'eq', bin_file) | first }}"
          dest: bin/pistol
          mode: "0755"
        - src: "{{ pistol_release.json.assets | selectattr('name', 'eq', 'pistol.1') | first }}"
          dest: share/man/man1/pistol.1
          mode: "0644"
      loop_control:
        label: "{{ item.src.name }}"
      vars:
        bin_file: "pistol-static-linux-{{ ansible_facts['architecture'] }}"

- name: Correct lf zsh completion
  ansible.builtin.file:
    src: /usr/share/zsh/site-functions/_lf/lf.zsh
    dest: "{{ (zsh.data_dir, 'site-functions/_lf') | path_join }}"
    state: link
    force: true
  when: ansible_facts["distribution"] == "openSUSE Tumbleweed"
  tags: zsh
