extends c

# Overwrite duplicate C snips
priority 1

snippet plugin "struct Plugin myinfo" b
public Plugin myinfo =
{
	name        = "$1",
	author      = "Alex \"ZeroKnight\" George",
	description = "$2",
	version     = "${3:1.0}",
	url         = "http://${4:www.sourcemod.net/}"
};

$0
endsnippet

snippet fun "function definition" b
${1:public} ${2:void} ${3:function_name}(${4})
{
	${VISUAL}$0
}
endsnippet

snippet vim "vim modeline" b
// vim: filetype=sourcepawn
endsnippet

