priority 50

### Assorted Boilerplate #######################################
# Since Java is mostly boilerplate, this might be a good candidate for a
# java/boilerplate.snippets

snippet cin "Scanner for System.in"
Scanner ${1:input} = new Scanner(System.in);
$0
endsnippet

# vim: ft=snippets ts=4
