priority -50
extends c

# Overwrite duplicate C snips
priority 50

snippet guard "Include Guard" b
#if defined ${2:PATH_}${1:`!p snip.rv = re.sub(r'[^A-Za-z0-9]+', '_', snip.fn).upper()`}_INCLUDED
#endinput
#endif
#define $2$1_INCLUDED

$0
endsnippet

# vim: ft=snippets
