priority 30
extends sh

priority 50

snippet forz "for i (words) { ... }"
for ${1:i} ($2) {
	${VISUAL}$0
}
endsnippet

snippet case "case ... esac"
case $1 in
	($2)
		$0
		;;
esac
endsnippet

snippet casep "case pattern"
($1)
	$0
	;;
endsnippet

# vim: ft=snippets ts=4
