priority -50

extends sh

priority -49

snippet forz "for i (words) { ... }"
for ${1:i} ($2) {
	$0
}
endsnippet

snippet case "case ... esac"
case $1 in
	($2)
		$0
		;;
esac
endsnippet

snippet casep "case pattern"
($1)
	$0
	;;
endsnippet

# vim: ft=snippets
