# vim: ft=yaml.ansible

- name: Add package repositories
  become: true
  module_defaults:
    ansible.builtin.get_url: &perms
      mode: "0644"
      owner: root
      group: root
    ansible.builtin.template:
      <<: *perms
    ansible.builtin.file:
      <<: *perms
  block:
    - name: Ensure /etc/apt/keyrings exists
      ansible.builtin.file:
        path: /etc/apt/keyrings
        state: directory
        mode: "0755"

    - name: Add GitHub-CLI repository
      vars:
        key_path: /etc/apt/keyrings/githubcli-archive-keyring.gpg
        repo_url: https://cli.github.com/packages
        repo_release: stable
      block:
        # noqa: risky-file-permissions
        - name: Download GitHub-CLI signing key
          ansible.builtin.get_url:
            url: "{{ repo_url }}/{{ key_path | basename }}"
            dest: "{{ key_path }}"
            checksum: sha1:870441f2dbbcb0d70a68619c8577385dd6f23379

        # noqa: risky-file-permissions
        - name: Add GitHub-CLI repository
          ansible.builtin.template:
            src: apt_repo.list.j2
            dest: /etc/apt/sources.list.d/gh-cli.list
          notify: refresh repositories

    - name: Add eza-community repository
      vars:
        key_path: /etc/apt/keyrings/gierens.asc
        repo_url: http://deb.gierens.de
        repo_release: stable
      block:
        # noqa: risky-file-permissions
        - name: Download eza-community signing key
          ansible.builtin.get_url:
            url: https://raw.githubusercontent.com/eza-community/eza/main/deb.asc
            dest: "{{ key_path }}"
            checksum: sha1:d59859d3180ae4f5cd2a84c0cb8ecf2e056f9ac4

        # noqa: risky-file-permissions
        - name: Add eza-community repository
          ansible.builtin.template:
            src: apt_repo.list.j2
            dest: /etc/apt/sources.list.d/eza-community.list
          notify: refresh repositories
