nvim_bin: "{{ (local_prefix, 'bin/nvim') | path_join }}"
nvim_config: "{{ (config_dir, 'nvim') | path_join }}"
nvim_data: "{{ (data_dir, 'nvim') | path_join }}"
nvim_state: "{{ (state_dir, 'nvim') | path_join }}"
nvim_repo: https://github.com/neovim/neovim
nvim_build:
  tag: nightly
  path: "{{ (src_dir, 'neovim') | path_join }}"
lazy_path: "{{ (nvim_data, 'lazy', 'lazy.nvim') | path_join }}"
provider:
  python:
    venv_root: "{{ (nvim_data, 'pynvim-venvs') | path_join }}"
