# vim: ft=yaml.ansible

- name: Ensure lazy data directory
  ansible.builtin.file:
    path: "{{ lazy_path }}"
    state: directory
    recurse: true

# git module doesn't have a `--filter` option yet :(
- name: Clone lazy.nvim
  ansible.builtin.git:
    dest: "{{ lazy_path }}"
    repo: https://github.com/folke/lazy.nvim.git
    version: stable
    depth: 1

- name: Ensure npm is installed for Mason.nvim
  become: true
  ansible.builtin.package:
    name: npm
    state: present

- name: Install nvim plugins
  ansible.builtin.command:
    argv:
      - "{{ nvim_bin }}"
      - --headless
      - +Lazy! install
      - +qa
    creates: "{{ (state_dir, 'nvim', 'lazy') | path_join }}"

- name: Install Treesitter parsers
  ansible.builtin.command:
    argv:
      - "{{ nvim_bin }}"
      - --headless
      - "+lua require('nvim-treesitter').install(require('zeroknight.treesitter').wanted_parsers()):wait({{ _timeout }})"
    creates: "{{ (nvim_data, 'treesitter/parser') | path_join }}"
  vars:
    _timeout: "{{ 5 * 60 * 1000 }}"

- name: Ensure external_snippets directory exists
  ansible.builtin.file:
    path: "{{ (nvim_data, 'external_snippets', 'vscode') | path_join }}"
    mode: "0755"
    state: directory

- name: Download VSCode PowerShell snippets
  ansible.builtin.get_url:
    url: "https://raw.githubusercontent.com/PowerShell/vscode-powershell/main/snippets/PowerShell.json"
    dest: "{{ (nvim_data, 'external_snippets', 'vscode', 'PowerShell.json') | path_join }}"
    mode: "0644"
