# vim: ft=yaml.ansible

- name: Install Python 3
  become: true
  ansible.builtin.package:
    name: python3
    state: present

- name: Set up virtualenv for user installs
  ansible.builtin.import_tasks: venv.yml
