# vim: ft=yaml.ansible

- name: Install desktop applications (Suse)
  become: true
  community.general.zypper:
    name: "{{ software_desktop_packages }}"
    state: present
    disable_recommends: false
  when: ansible_facts["distribution"] == "openSUSE Tumbleweed"

- name: Install desktop applications (Debian)
  become: true
  ansible.builtin.apt:
    name: "{{ software_desktop_packages }}"
    state: present
  when: ansible_facts["distribution"] == "Debian"

- name: Install Kitty terminal
  ansible.builtin.import_tasks: kitty.yml
  when: ((local_prefix, "bin/kitty") | path_join) is not file
  tags:
    - shell
    - kitty
