# vim: ft=yaml.ansible

- name: Set distribution-specific variables
  ansible.builtin.include_vars:
    file: "{{ ansible_distribution | replace(' ', '_') }}.yml"

- name: Set up zsh
  ansible.builtin.import_tasks: zsh.yml
  tags:
    - shell
    - zsh

- name: Set up utilities
  ansible.builtin.import_tasks: utils.yml

- name: Set up desktop applications
  ansible.builtin.import_tasks: desktop.yml
  tags: desktop
  when: graphical | default(false)

- name: Purge unwanted packages
  ansible.builtin.import_tasks: purge.yml
  tags:
    - purge
    - distro
