# vim: ft=yaml.ansible

- name: Install zsh (Suse)
  become: true
  community.general.zypper:
    name:
      - zsh
    state: latest
  when: ansible_facts["distribution"] == "openSUSE Tumbleweed"

- name: Install zsh (Debian)
  become: true
  ansible.builtin.apt:
    name:
      - zsh
      - zsh-doc
    state: latest
  when: ansible_facts["distribution"] == "Debian"

- name: Create local zsh site-functions directory
  ansible.builtin.file:
    path: "{{ (zsh.local_dir, 'site-functions') | path_join }}"
    state: directory
    mode: "0755"

- name: Correct lf zsh completion
  ansible.builtin.file:
    src: /usr/share/zsh/site-functions/_lf/lf.zsh
    dest: "{{ (zsh.local_dir, 'site-functions/_lf') | path_join }}"
    state: link
    force: true

- name: Ensure zsh directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - "{{ (opt_dir, 'zcomet') | path_join }}"
    - "{{ (data_dir, 'zsh', 'site') | path_join }}"

- name: Clone zcomet
  ansible.builtin.git:
    repo: https://github.com/agkozak/zcomet
    dest: "{{ (opt_dir, 'zcomet', 'bin') | path_join }}"
    depth: 1

- name: Remove unwanted openSuse /etc/zshrc edits
  when: ansible_facts["distribution"] == "openSUSE Tumbleweed"
  become: true
  block:
    - name: Don't run compinit in /etc/zshrc
      ansible.builtin.lineinfile:
        path: /etc/zshrc
        search_string: "compinit"
        state: absent

    - name: Don't create aliases
      ansible.builtin.lineinfile:
        path: /etc/zshrc
        regexp: '^\s*alias'
        state: absent

- name: Remove stray zcompdump files
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - "{{ (ansible_facts.env.HOME, '.zcompdump') | path_join }}"
    - "{{ ((ansible_facts.env.ZDOTDIR | default(config_dir, 'zsh')), '.zcompdump') | path_join }}"
