[Desktop Entry]
Categories=Utility;Security;Qt;
Comment[en_US]=
Comment=
Exec=keepassxc --minimized
GenericName[en_US]=Password Manager
GenericName=Password Manager
Icon=keepassxc
MimeType=application/x-keepass2;
Name[en_US]=KeePassXC
Name=KeePassXC
Path=
StartupNotify=false
StartupWMClass=keepassxc
Terminal=false
TerminalOptions=
TryExec=keepassxc
Type=Application
Version=1.0
X-GNOME-Autostart-Delay=2
X-GNOME-Autostart-enabled=true
X-KDE-SubstituteUID=false
X-KDE-Username=
X-KDE-autostart-after=panel
X-LXQt-Need-Tray=true
