# vim: ft=yaml.ansible

- name: Ensure basic directories exist
  ansible.builtin.file:
    path: "{{ (ansible_facts.env.HOME, item) | path_join }}"
    mode: "0700"
    state: directory
  loop:
    - .config
    - .config/user-tmpfiles.d
    - .local/bin
    - .local/opt
    - .local/share
    - .local/state
    - Downloads
    - Projects
    - src

- name: Ensure SSH directory exists
  ansible.builtin.file:
    path: "{{ (ansible_facts.env.HOME, '.ssh') | path_join }}"
    mode: "0700"
    state: directory

- name: Redirect KWin cache to tmpfs
  ansible.builtin.copy:
    src: files/.config/user-tmpfiles.d/kwin-cache.conf
    dest: "{{ (config_dir, 'user-tmpfiles.d', 'kwin-cache.conf') | path_join }}"
    mode: "0644"
  when: desktop == "KDE"
  tags: desktop, kde

- name: Deploy dotfiles
  vars:
    dot_config: "{{ (dotfiles, '.config') | path_join }}"
    dot_ssh: "{{ (dotfiles, '.ssh') | path_join }}"
    link_dirs:
      # These directories are linked as a whole either because they get hacked
      # on frequently or have numerous child directories
      - nvim
      - zsh
  module_defaults:
    ansible.builtin.file:
      owner: "{{ user_id }}"
      group: "{{ user_gid }}"
  block:
    - name: Gather top-level directories in .config
      ansible.builtin.find:
        path: "{{ dot_config }}"
        file_type: directory
        excludes: "{{ link_dirs }}"
      register: toplevel_dirs

    - name: Gather individual dotfiles
      vars:
        paths:
          - "{{ dot_ssh }}"
        to_find: "{{ paths | union(toplevel_dirs.files | map(attribute='path')) }}"
      ansible.builtin.find:
        paths: "{{ to_find }}"
        file_type: file
        recurse: true
        hidden: true
        excludes:
          - '*~'
          - '*.zwc'
      register: link_files

    - name: Create links to specific top-level directories
      ansible.builtin.file:
        src: "{{ (dot_config, item) | path_join }}"
        path: "{{ (config_dir, item) | path_join }}"
        state: link
      loop: "{{ link_dirs }}"

    - name: Create directory tree for individual dotfiles
      ansible.builtin.file:
        path: "{{ item | replace(dotfiles, ansible_facts.env.HOME) }}"
        state: directory
        mode: "0750"
      loop: "{{
        link_files.files | map(attribute='path') | map('dirname') |
        unique | sort | reject('eq', dot_ssh) }}"

    - name: Create links to individual dotfiles
      ansible.builtin.file:
        src: "{{ item.path }}"
        dest: "{{ item.path | replace(dotfiles, ansible_facts.env.HOME) }}"
        state: link
      loop: "{{ link_files.files | rejectattr('path', 'in', '.gitkeep') }}"
      loop_control:
        label: "{{ item.path }}"

- name: Set up user level systemd
  ansible.builtin.import_tasks: systemd.yml
  tags:
    - systemd
