priority 50

# Miscellaneous shortcuts, idioms, and boilerplate

snippet ifm "if __name__ == '__main__' ..." b
if __name__ == '__main__':
	${1:${VISUAL:pass}}$0
endsnippet

snippet rte "raise TypeError" b
raise TypeError
endsnippet

snippet rve "raise ValueError" b
raise ValueError
endsnippet

snippet rni "raise NotImplementedError" b
raise NotImplementedError
endsnippet

