<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">

<!-- Sub-menu Definitions -->

    <menu id="apps-development-qt" label="Qt">
        <item label="Qt Assistant" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/qtassistant.png">
            <action name="Execute">
                <execute>assistant</execute>
            </action>
        </item>
        <item label="Qt Designer" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/qtdesigner.png">
            <action name="Execute">
                <execute>designer</execute>
            </action>
        </item>
        <item label="Qt Linguist" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/qtlinguist.png">
            <action name="Execute">
                <execute>linguist</execute>
            </action>
        </item>
    </menu>
    <menu id="apps-games-doom" label="DOOM">
        <item label="GZDoom">
            <action name="Execute">
                <execute>gzdoom</execute>
            </action>
        </item>
        <item label="GZDoom (Brutal)">
            <action name="Execute">
                <execute>gzdoom -file /usr/share/games/doom/brutalv017gzdoom.pk3</execute>
            </action>
        </item>
    </menu>
    <menu id="apps-office-libreoffice" label="LibreOffice">
        <item label="LibreOffice" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/libreoffice-main.png">
            <action name="Execute">
                <execute>libreoffice</execute>
            </action>
        </item>
        <item label="Base" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/libreoffice-base.png">
            <action name="Execute">
                <execute>libreoffice --base</execute>
            </action>
        </item>
        <item label="Calc" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/libreoffice-calc.png">
            <action name="Execute">
                <execute>libreoffice --calc</execute>
            </action>
        </item>
        <item label="Draw" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/libreoffice-draw.png">
            <action name="Execute">
                <execute>libreoffice --draw</execute>
            </action>
        </item>
        <item label="Impress" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/libreoffice-impress.png">
            <action name="Execute">
                <execute>libreoffice --impress</execute>
            </action>
        </item>
        <item label="Math" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/libreoffice-math.png">
            <action name="Execute">
                <execute>libreoffice --math</execute>
            </action>
        </item>
        <item label="Writer" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/libreoffice-writer.png">
            <action name="Execute">
                <execute>libreoffice --writer</execute>
            </action>
        </item>
    </menu>

    <!-- Root Menus and Items -->

    <menu id="apps-accessories-menu" label="Accessories">
        <!--<item label="Alarm Clock" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/alarm-clock.png">
            <action name="Execute">
                <command>alarm-clock</command>
                <startupnotify>
                    <enabled>yes</enabled>
                </startupnotify>
            </action>
        </item>-->
        <item label="Character Map" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/gucharmap.png">
            <action name="Execute">
                <command>gucharmap</command>
                <startupnotify>
                    <enabled>yes</enabled>
                </startupnotify>
            </action>
        </item>
        <item label="KeePassX" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/keepassx.png">
            <action name="Execute">
                <command>keepassx</command>
                <startupnotify>
                    <enabled>yes</enabled>
                </startupnotify>
            </action>
        </item>
        <item label="PeaZip Archive Manger" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/peazip.png">
            <action name="Execute">
                <command>peazip</command>
                <startupnotify>
                    <enabled>yes</enabled>
                </startupnotify>
            </action>
        </item>
        <item label="SpeedCrunch" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/speedcrunch.png">
            <action name="Execute">
                <command>speedcrunch</command>
                <startupnotify>
                    <enabled>yes</enabled>
                </startupnotify>
            </action>
        </item>
        <item label="Thunar - Bulk Rename" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/Thunar.png">
            <action name="Execute">
                <execute>/usr/lib/ThunarBulkRename</execute>
            </action>
        </item>
        <item label="Xfce Notes" icon="/usr/share/icons/hicolor/32x32/apps/xfce4-notes-plugin.png">
            <action name="Execute">
                <execute>xfce4-notes</execute>
            </action>
        </item>
    </menu>
    <menu id="apps-development-menu" label="Development" icon="/home/zeroknight/.icons/AwOken/clear/128x128/categories/applications-development.png">
        <item label="GVim" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/gvim.png">
            <action name="Execute">
                <command>gvim</command>
                <startupnotify>
                    <enabled>yes</enabled>
                    <wmclass>GVim</wmclass>
                </startupnotify>
            </action>
        </item>
        <item label="Meld" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/meld.png">
            <action name="Execute">
                <execute>meld</execute>
            </action>
        </item>
        <separator/>
        <item label="CMake" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/cmake-gui1.png">
            <action name="Execute">
                <execute>cmake-gui</execute>
            </action>
        </item>
        <item label="Kodos" icon="/usr/share/pixmaps/kodos.png">
            <action name="Execute">
                <execute>kodos</execute>
            </action>
        </item>
        <menu id="apps-development-qt" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/qt.png"/>
    </menu>
    <menu id="app-games-menu" label="Games">
        <item label="Steam" icon="/home/zeroknight/.icons/AwOken/clear/128x128/categories/applications-accessories.png">
            <action name="Execute">
                <execute>steam</execute>
            </action>
        </item>
        <separator/>
        <item label="Battle for Wesnoth" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/wesnoth-icon.png">
            <action name="Execute">
                <execute>wesnoth</execute>
            </action>
        </item>
        <menu id="apps-games-doom" icon="/usr/share/pixmaps/gzdoom.png"/>
        <item label="Dwarf Fortress" icon="/usr/share/pixmaps/dwarffortress.png">
            <action name="Execute">
                <execute>dwarffortress</execute>
            </action>
        </item>
        <item label="FTL: Faster Than Light" icon="/games/FTL/data/ftl.gif">
            <action name="Execute">
                <execute>/games/FTL/FTL.sh</execute>
            </action>
        </item>
        <item label="Minecraft" icon="/usr/share/pixmaps/minecraft.png">
            <action name="Execute">
                <execute>MultiMC</execute>
            </action>
        </item>
        <item label="Minetest">
            <action name="Execute">
                <execute>minetest</execute>
            </action>
        </item>
        <item label="Naev" icon="/usr/share/pixmaps/naev.png">
            <action name="Execute">
                <execute>naev</execute>
            </action>
        </item>
        <item label="OpenArena" icon="/usr/share/pixmaps/openarena.png">
            <action name="Execute">
                <execute>openarena</execute>
            </action>
        </item>
        <item label="Red Eclipse" icon="/games/redeclipse/src/site/bits/favicon.png">
            <action name="Execute">
                <execute>/games/redeclipse/redeclipse.sh</execute>
            </action>
        </item>
        <item label="ScrumbleShip" icon="/usr/share/pixmaps/ScrumbleShip.png">
            <action name="Execute">
                <execute>/games/scrumbleship/scrumbleship.sh</execute>
            </action>
        </item>
        <item label="Starsector" icon="/games/starsector/graphics/ui/sf32.png">
            <action name="Execute">
                <execute>/games/starsector/starsector.sh</execute>
            </action>
        </item>
        <item label="Skyrim" icon="/home/zeroknight/.local/share/icons/hicolor/256x256/apps/D5FB_SkyrimLauncher.0.png">
            <action name="Execute">
                <execute>wine /games/Skyrim/skse_loader.exe</execute>
            </action>
        </item>
        <item label="Urban Terror" icon="/usr/share/pixmaps/urbanterror.png">
            <action name="Execute">
                <execute>urbanterror</execute>
            </action>
        </item>
        <item label="zSNES" icon="/usr/share/pixmaps/zsnes_icon.png">
            <action name="Execute">
                <execute>zsnesd</execute>
            </action>
        </item>
    </menu>
    <!--<menu id="apps-term-menu" label="Terminals">
        <item label="Gnome-Terminal">
            <action name="Execute">
                <command>gnome-terminal</command>
            </action>
        </item>
        <item label="Rxvt Unicode">
            <action name="Execute">
                <command>urxvt</command>
            </action>
        </item>
    </menu>-->
    <menu id="apps-office-menu" label="Office">
        <menu id="apps-office-libreoffice" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/libreoffice-main.png"/>
        <separator/>
        <item label="Dictionary" icon="/home/zeroknight/.icons/AwOken/clear/128x128/categories/applications-education-school.png">
            <action name="Execute">
                <execute>xfce4-dict</execute>
            </action>
        </item>
        <item label="Foxit Reader" icon="/usr/share/pixmaps/foxitreader.png">
            <action name="Execute">
                <execute>foxitreader</execute>
            </action>
        </item>
        <item label="GNU Cash" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/gnucash-icon.png">
            <action name="Execute">
                <execute>gnucash</execute>
            </action>
        </item>
        <item label="Task Coach" icon="/usr/share/pixmaps/taskcoach.png">
            <action name="Execute">
                <execute>taskcoach.py</execute>
            </action>
        </item>
    </menu>
    <menu id="apps-net-menu" label="Internet">
        <item label="Firefox" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/firefox.png">
            <action name="Execute">
                <command>firefox</command>
                <startupnotify>
                    <enabled>yes</enabled>
                    <wmclass>Firefox</wmclass>
                </startupnotify>
            </action>
        </item>
        <item label="Thunderbird" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/thunderbird.png">
            <action name="Execute">
                <execute>thunderbird</execute>
            </action>
        </item>
        <item label="Pidgin" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/pidgin.png">
            <action name="Execute">
                <command>pidgin</command>
                <startupnotify>
                    <enabled>yes</enabled>
                </startupnotify>
            </action>
        </item>
        <item label="Mumble" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/mumble.png">
            <action name="Execute">
                <execute>mumble</execute>
            </action>
        </item>
        <item label="Remobo">
            <action name="Execute">
                <execute>remobo-gui</execute>
            </action>
        </item>
        <item label="Teamspeak" icon="/usr/share/pixmaps/teamspeak3.xpm">
            <action name="Execute">
                <execute>teamspeak3</execute>
            </action>
        </item>
        <item label="Teamviewer">
            <action name="Execute">
                <execute>teamviewer</execute>
            </action>
        </item>
        <separator label="File Transfer"/>
        <item label="FileZilla" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/filezilla.png">
            <action name="Execute">
                <execute>filezilla</execute>
            </action>
        </item>
        <item label="qBittorrent" icon="/usr/share/icons/hicolor/32x32/apps/qbittorrent.png">
            <action name="Execute">
                <execute>qbittorrent</execute>
            </action>
        </item>
        <item label="Dropbox" icon="/usr/share/pixmaps/dropbox.png">
            <action name="Execute">
                <execute>/opt/dropbox/dropboxd</execute>
            </action>
        </item>
        <item label="SpiderOak" icon="/usr/share/pixmaps/spideroak.png">
            <action name="Execute">
                <execute>SpiderOak</execute>
            </action>
        </item>
    </menu>
    <menu id="apps-multimedia-menu" label="Multimedia">
        <item label="Amarok" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/amarok.png">
            <action name="Execute">
                <command>amarok</command>
                <startupnotify>
                    <enabled>yes</enabled>
                </startupnotify>
            </action>
        </item>
        <item label="Audacity" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/audacity.png">
            <action name="Execute">
                <execute>audacity</execute>
            </action>
        </item>
        <item label="qV4L2" icon="/usr/share/icons/hicolor/32x32/apps/qv4l2.png">
            <action name="Execute">
                <execute>qv4l2</execute>
            </action>
        </item>
        <item label="VLC Media Player" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/vlc.png">
            <action name="Execute">
                <execute>vlc</execute>
            </action>
        </item>
    </menu>
    <menu id="apps-graphics-menu" label="Graphics" icon="/home/zeroknight/.icons/AwOken/clear/128x128/categories/clear/applications-graphics.png">
        <item label="Gimp" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/gimp.png">
            <action name="Execute">
                <command>gimp</command>
                <startupnotify>
                    <enabled>yes</enabled>
                </startupnotify>
            </action>
        </item>
        <item label="Blender" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/blender.png">
            <action name="Execute">
                <command>blender</command>
                <startupnotify>
                    <enabled>yes</enabled>
                </startupnotify>
            </action>
        </item>
    </menu>
    <menu id="system-menu" label="System">
        <item label="Openbox Configuration Manager" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/openbox.png">
            <action name="Execute">
                <command>obconf</command>
                <startupnotify>
                    <enabled>yes</enabled>
                </startupnotify>
            </action>
        </item>
        <item label="Openbox Menu Editor" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/openbox.png">
            <action name="Execute">
                <execute>obmenu</execute>
            </action>
        </item>
        <item label="tint2 Configuration" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/tint2conf.png">
            <action name="Execute">
                <execute>tint2conf</execute>
            </action>
        </item>
        <item label="Nitrogen" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/nitrogen.png">
            <action name="Execute">
                <execute>nitrogen</execute>
            </action>
        </item>
        <item label="Nvidia Settings" icon="/usr/share/pixmaps/nvidia-settings.png">
            <action name="Execute">
                <execute>nvidia-settings</execute>
            </action>
        </item>
        <separator/>
        <item label="Reconfigure Openbox" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/openbox.png">
            <action name="Reconfigure"/>
        </item>
        <item label="Restart Openbox" icon="/home/zeroknight/.icons/AwOken/clear/128x128/categories/plugin-workarounds.png">
            <action name="Restart"/>
        </item>
        <item label="Kill OpenBox" icon="/home/zeroknight/.icons/AwOken/clear/128x128/actions/application-exit2.png">
            <action name="Exit">
                <prompt>yes</prompt>
            </action>
        </item>
    </menu>
    <menu id="apps-wine-menu" label="Wine">
        <item label="Wine Configuration (Q4Wine)" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/q4wine.png">
            <action name="Execute">
                <execute>q4wine -b</execute>
            </action>
        </item>
        <item label="WineCFG" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/wine-winecfg.png">
            <action name="Execute">
                <execute>winecfg</execute>
            </action>
        </item>
        <item label="WineTricks" icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/wine-winetricks.png">
            <action name="Execute">
                <execute>winetricks</execute>
            </action>
        </item>
        <separator/>
        <item label="Steam (Wine)" icon="/home/zeroknight/.icons/AwOken/clear/128x128/categories/applications-accessories.png">
            <action name="Execute">
                <execute>wine ~/.wine/drive_c/Program\ Files\ \(x86\)/Steam/Steam.exe -no-dwrite &gt;/dev/null 2&gt;&amp;1 &amp;</execute>
            </action>
        </item>
    </menu>
    <menu icon="gtk-execute" id="root-menu" label="Openbox 3">
        <item label="Run Application..." icon="/home/zeroknight/.icons/AwOken/clear/128x128/categories/applications-other.png">
            <action name="Execute">
                <execute>xfce4-appfinder</execute>
            </action>
        </item>
        <item label="Open Terminal..." icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/terminal.png">
            <action name="Execute">
                <execute>gnome-terminal</execute>
            </action>
        </item>
        <item label="Open File Manager..." icon="/home/zeroknight/.icons/AwOken/clear/128x128/apps/pcmanfm-mod.png">
            <action name="Execute">
                <execute>pcmanfm</execute>
            </action>
        </item>
        <separator label="Applications"/>
        <menu id="apps-accessories-menu" icon="/home/zeroknight/.icons/AwOken/clear/128x128/categories/applications-accessories.png"/>
        <menu id="apps-development-menu" icon="/home/zeroknight/.icons/AwOken/clear/128x128/categories/applications-development.png"/>
        <menu id="app-games-menu" icon="/home/zeroknight/.icons/AwOken/clear/128x128/categories/applications-arcade.png"/>
        <menu id="apps-net-menu" icon="/home/zeroknight/.icons/AwOken/clear/128x128/categories/applications-internet.png"/>
        <menu id="apps-multimedia-menu" icon="/home/zeroknight/.icons/AwOken/clear/128x128/categories/applications-multimedia.png"/>
        <menu id="apps-graphics-menu" icon="/home/zeroknight/.icons/AwOken/clear/128x128/categories/applications-graphics.png"/>
        <menu id="apps-office-menu" icon="/home/zeroknight/.icons/AwOken/clear/128x128/categories/applications-office.png"/>
        <separator label="System"/>
        <menu id="apps-wine-menu" icon="/home/zeroknight/.icons/AwOken/clear/128x128/categories/applications-wine.png"/>
        <menu id="system-menu" icon="/home/zeroknight/.icons/AwOken/clear/128x128/categories/applications-system.png"/>
    </menu>
</openbox_menu>
